body{
    background-image: url("./background.jpg");
    color: white;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px rgb(29, 23, 202);
    font-size: 36px;
    padding: 20px;
}

h2 {
    text-shadow: 2px 2px rgb(29, 23, 202);
    font-size: 28px;
    padding: 25px;
}

.about_me {
    display: flex;
    justify-content: center;
}

.about_me img {
    width: 200px;
    height: 200px;
    border: solid 3px black;
    border-radius: 25px;
}
.about_me p {
    text-shadow: 1px 1px white;
    color: rgb(29, 23, 202);
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 24px;
    padding: 100px;
}
.work {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.work img {
    width: 150px;
    height: 150px;
    border: solid 3px white;
    border-radius: 25px;
}

.work img:hover {
    width: 225px;
    height: 225px;
}

a {
    padding: 15px;
}

.flex-container {
    text-align: center;
}

.fa-brands {
    color: black;
    text-shadow: 2px 2px white;
}

.fa-brands:hover {
    font-size: 30px;
}

