h1 {
    text-align: center;
    font-size: 32px;
    padding: 20px;
}

h2 {
    font-size: 24px;
    padding: 10px;
}

.about_me img {
    width: 250px;
    height: 250px;
}

.about_me p {
    text-align: center;
    display: inline;
}

.work {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.work img {
    width: 150px;
    height: 150px;
    padding-top: 15px;
}

.work img:hover {
    width: 250px;
    height: 250px;
}

a {
    padding: 15px;
}

footer {
    text-align: center;
    font-size: 24px;
    padding: 20px;
}